{#
/**
 * @file food_data.html.twig
 * Default theme implementation to present Food data data.
 *
 * This template is used when viewing Food data pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_food_data()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('food_data') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
